body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #a0eaff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.login-container img {
    width: 100px;
    height: auto;
    padding: 20px;
}
.login-container h1 {
    font-size: 24px;
    margin: -10px 0;
}
.login-container h2 {
    font-size: 18px;
    margin: 10px 0;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    background-color: #00aaff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.login-container button:hover {
    background-color: #0088cc;
}
.login-container a {
    color: #0000ff;
    text-decoration: none;
}
.login-container a:hover {
    text-decoration: underline;
}
.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-container input {
    flex: 1;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #555;
}
.reset-password-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.reset-password-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: Arial, sans-serif;
    color: #333;
}
.reset-password-container label {
    font-weight: bold;
    color: #555;
}
.reset-password-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}
.reset-password-container button:hover {
    background-color: #0056b3;
}
.error-list {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    color: red;
}
